body{
    background-color: red;
}

section {
    padding: 40px 0;
    border: 1px solid red;
}


/* Product card   */

.product-card {
    background-color: #f2f2f2;
    padding: 10px;
}

.product-card img {
    max-width: 100%;
    display: block;
}

.product-card a {
    color: inherit;
}

/* Product card heading */




/* Product card info */
.product-card .circles {
    margin-top: 5px;
    margin-bottom: 5px;
}
.product-card .circles > * {
    display: inline-block;
    vertical-align: middle;
}
.product-card .circles .circle {
    width: 1rem;
    height: 1rem;
    background-color: lightgreen;
    margin-right: 0.1rem;
    border-radius: 50%;
}

.product-card .pc-info a{
    text-decoration-style: dotted;
}

/* Price info   */

.pc-info .price-info{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.price-info .offer-button{
    background-color: orange;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    text-decoration: none;
    font-weight: 600;    
}

.price-info .offer-button a{
    text-decoration: none;
}