body{
    background-color: red;
}

section {
    padding: 40px 0;
    border: 1px solid red;
}


/* Product card   */

.product-card {
    background-color: #f2f2f2;
    padding: 10px;
}

.pc-image{
    
}

.pc-image img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


.product-card a {
    color: inherit;
}

.product-card h2{
    font-size: 1rem;
    font-weight: 600;
}

.product-card h3{
    font-size: 1.6rem;
    font-weight: 600;
}

.product-card h4{
    font-size: 1rem;
}

.product-card p{
    font-size: 1rem;
}


/* Product card heading */




/* Product card info */

.product-card .circles {
    margin-top: 5px;
    margin-bottom: 5px;
}


.product-card .circles a{
    font-size: 0.7rem;
}

.product-card .circles > * {
    display: inline-block;
    vertical-align: middle;
}
.product-card .circles .circle {
    width: 1rem;
    height: 1rem;
    background-color: lightgreen;
    margin-right: 0.1rem;
    border-radius: 50%;
}

.product-card .pc-info a{
    text-decoration-style: dotted;
}

/* Price info   */

.pc-info .price-info{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.price-info .offer-button{
     font-size: 0.8rem;
    background-color: orange;
    display: inline-block;
    padding: 0.5rem 1.2rem;
    border-radius: 0.8rem;
    text-decoration: none;
    font-weight: 700;    
}

.price-info-container a{
    text-decoration: none;
}

/* product features */

.product-features h3{
    font-size: 1.2rem;
}

.product-features h4{
    font-size: 1rem;
}



/* last info   */

.last-info h4{
    text-align: center;
    font-size: 0.9rem;
}